{% extends 'base.html.twig' %}

{% block title %}Hello StartController!
{% endblock %}

{% block body %}
<div>
<h1>Accueil</h1>
<a href="{{ path('start_index') }}">Jouer</a>
</div>
	 <script>

    </script>
{% endblock %}
