{% extends 'base.html.twig' %}

{% block title %}Hello StartController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('styles/home.css') }}">
	<div class="home-wrapper">
		<img class="logo" src="{{ asset('images/uno.webp') }}" alt="">
		<a href="{{ path('start_index') }}" class="button">Jouer</a>
		<p class="author">
			<small>par Magali MAI</small>
		</p>
	</div>
{% endblock %}
