{% extends 'base.html.twig' %}

{% block title %}Hello WinController!{% endblock %}

{% block body %}

<div>
    <h1>Win de {{ winner.getName() }}</h1>
    <button onclick="location.reload();
    window.location.href="{{ path('start_index') }}";">Recommencer</button>
</div>
<script>
    
</script>
{% endblock %}
