.game-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.game-hud {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.button {
    pointer-events: all;
}

.actual-turn {
    filter: drop-shadow(0 0 0.75rem rgb(11, 201, 175));
}

.finish {
    pointer-events: none;
}

.game-board {
    background-color: rgb(255, 175, 175);
    width: 100vw;
    height: 135vh;
    position: absolute;
    transform: rotateX(42deg);
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.discard {
    position: absolute;
    pointer-events: none;
    width: 4rem;
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    ul,
    li {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.accumulation {
    width: 8.5rem;
    height: 8.5rem;
    position: absolute;
    border: 0.3rem solid red;
    border-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .arrow-container {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        &.left {
            transform: rotate(-90deg);
        }
        &.bottom {
            transform: rotate(180deg);
        }
        &.right {
            transform: rotate(90deg);
        }
    }
    .arrow {
        width: 2rem;
        height: 2rem;
        position: absolute;
        bottom: calc(100% + 1rem);
        background-color: red;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }
    .accumuation-counter {
        position: absolute;
        color: white;
        font-size: 2rem;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
        left: calc(100% + .5rem);
        bottom: calc(100% + .5rem);
    }
}

.deck {
    width: 4.75rem;
    height: 6.55rem;
    transform: rotate(-45deg);
    position: absolute;
    top: 6rem;
    left: 15rem;
    display: flex;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1.25rem 0.45rem 1.25rem 0.45rem;
    &.can-hover:hover {
        box-shadow: 0 0 1rem rgba(11, 201, 175, 0.75);
        .top {
            cursor: pointer;
        }
    }
    &.must-pick {
        box-shadow: 0 0 1rem rgb(228, 27, 27);
        .top {
            cursor: pointer;
        }
    }
    .top {
        overflow: hidden;
        border-radius: 0rem 0.45rem 0rem 0;
        flex-shrink: 0;
        background-color: white;
        width: calc(100% - 0.75rem);
        height: calc(100% - 0.75rem);
        div {
            border: 0.2rem solid white;
            background: radial-gradient(#5f6539 10%, #5e6338 50%, #464a2a 100%);
            border-radius: 0.45rem;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        p {
            font-size: 1.5rem;
            color: white;
        }
    }
    .side1 {
        border-radius: 0 0 0 0.45rem;
        flex-shrink: 0;
        background-color: rgb(255, 255, 255);
        width: 0.75rem;
        height: 100%;
        clip-path: polygon(
            0% 0.75rem,
            0.75rem 0%,
            0.75rem calc(100% - 0.75rem),
            0% 100%
        );
    }
    .side2 {
        border-radius: 0 0 0 0.45rem;
        flex-shrink: 0;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: rgb(235, 235, 235);
        width: 100%;
        height: 0.75rem;
        clip-path: polygon(
            0.75rem 0,
            100% 0%,
            calc(100% - 0.75rem) 0.75rem,
            0% 0.75rem
        );
    }
}

.sens-information {
    width: 40%;
    height: 40%;
    position: absolute;
    border: 2rem solid rgba(255, 255, 255, 0.25);
    border-radius: 50%;
}

.card {
    width: 4rem;
    height: 5.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
}

.card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    position: relative;
    border-radius: 0.45rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);

    p {
        font-size: 2rem;
        color: white;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    }
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    font-weight: bold;
    border: 0.2rem solid white;
    border-radius: 0.45rem;
    overflow: hidden;
}

.card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back {
    background: radial-gradient(#5f6539 10%, #5e6338 50%, #464a2a 100%);
    transform: rotateY(180deg);
}

.card-yellow {
    background-color: rgb(241, 219, 21);
}
.card-blue {
    background-color: rgb(68, 134, 215);
}
.card-red {
    background-color: rgb(230, 46, 46);
}
.card-green {
    background-color: rgb(44, 157, 44);
}

.infos {
    position: absolute;
    display: flex;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    img {
        width: 4rem;
        height: 4rem;
        background-color: blue;
    }
}

.player-identity {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 6rem;
    p {
        background-color: white;
        width: 100%;
        padding: 0.25rem;
        width: 7rem;
    }
}

.cards-counter {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    width: 1.3rem;
    height: 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-players {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 4rem 6rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.all-players {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-area {
    pointer-events: all;
    position: absolute;
    width: fit-content;
    height: fit-content;
    min-height: 5.8rem;
    min-width: 4rem;
    &#user-area {
        bottom: 0;
        .player-cards li {
            margin: 0 -0.9rem;
        }
        .infos {
            right: calc(100% + 5rem);
        }
    }
    &#enemy1-area {
        left: 0;
        transform: translateY(2rem);
        .infos {
            left: -4rem;
            bottom: calc(100% + 3rem);
        }
    }
    &#enemy2-area {
        top: 0;
        .player-cards li {
            margin: 0 -1.2rem;
        }
        .infos {
            left: 100%;
            bottom: 20%;
        }
    }
    &#enemy3-area {
        right: 0;
        transform: translateY(2rem);
        .infos {
            right: -4rem;
            bottom: calc(100% + 4rem);
        }
    }
}

.enemy-area {
    .player-cards li {
        margin: 0 -1rem;
    }
}

.player-cards {
    width: fit-content;
    display: flex;
}

.card-container {
    width: fit-content;
    height: fit-content;
    position: relative;
    perspective: 1200px;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}

.deck-card {
    border: 0.2rem solid white;
    background: radial-gradient(#5f6539 10%, #5e6338 50%, #464a2a 100%);
    border-radius: 0.45rem;
    width: 4rem;
    height: 5.8rem;
}

.game-animation-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#enemy-cards1 {
    flex-direction: row-reverse;
    transform: rotateX(15deg) rotateY(300deg);
    transform-origin: left center;
    perspective: 1200px;
    transform-style: preserve-3d;
    .card-front {
        transform: rotateY(180deg);
    }

    .card-back {
        transform: rotateY(0deg);
    }
}

#enemy-cards2 {
    transform: rotateX(15deg) rotateY(0deg) scale(0.8);
    perspective: 1200px;
    transform-style: preserve-3d;
    .card-front {
        transform: rotateY(180deg);
    }

    .card-back {
        transform: rotateY(0deg);
    }
}

#enemy-cards3 {
    transform: rotateX(15deg) rotateY(60deg);
    transform-origin: right center;
    perspective: 1200px;
    transform-style: preserve-3d;
    .card-front {
        transform: rotateY(180deg);
    }

    .card-back {
        transform: rotateY(0deg);
    }
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.user-card {
    width: fit-content;
    height: fit-content;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
    border-radius: 0.45rem;
    filter: brightness(0.65);
    display: flex;
    align-items: center;
    justify-content: center;
    .card {
        transition: transform 0.3s ease-in-out;
    }
    &.can-play:not(.user-card-played) {
        filter: brightness(1);
        cursor: pointer;
        .card {
            &:hover {
                transform: translateY(-2rem) translateX(-0.6rem);
                box-shadow: 0 0 1rem rgba(11, 201, 175, 0.75);
            }
        }
    }
}

.user-card-played {
    filter: brightness(1);
    .card {
        transform: rotateX(45deg);
    }
}
